<%= link_to 'Submit YOLO', new_post_path, :class => "btn btn-primary pull-right" %>
<br>
<br>
<br>
<div class="list-group">
  <% @posts.each do |post| %>
    <a href="posts/<%= post.id %>" class="list-group-item">
      <h3 class="list-group-item-heading"><%= post.title %></h3>
      <em>Posted <%= time_ago_in_words(post.created_at) %> ago</em>
      <p class="list-group-item-text"><%=h truncate(post.body, :length => 140) %></p>
    </a>
  <% end %>
</div>