<% if flash[:notice] %>
<div class="notice"><h1><%= flash[:notice] %></h1></div>
<% end %>

<%= content_for(:title, "YOLO Confessions") %>
<%= content_for(:description, "Explore and share the juiciest stories excused by #YOLO") %>

<div class="posts">
  <%= render :partial => 'listall', :locals => { :posts => @posts } %>
</div>
<%= link_to 'Load More Posts', posts_path(:page => @posts.next_page), :class => 'load-more-posts', :remote => true if @posts.next_page %>

<!-- comment thing -->
