<p id="notice"><%= notice %></p>
<script type="text/javascript">
$(document).ready(function() {
    $('.share-button').share({
        url: 'http://www.yoloconfessions.com/posts/<%= @post.id %>',
        text: 'check out this awesome video guys!',
        flyout: 'top center',
        twitter: {
            text: '<%= @post.title %> #yoloconfessions'
        },
        facebook: {
            text: '<%= @post.title %>  #yoloconfessions'
        }
    })
});
</script>
<br>
<h1 class="post-title"><%= @post.title %></h1>
<em>Posted <%= time_ago_in_words(@post.created_at) %> ago</em>
<br>
<br>
<div class="share-button" style="display:block; float:left;"></div>
<br>
<br>
<p class="post-body">
  <%= @post.body %>
</p>

<% if Rails.env.development? %>
<h3><%= @post.category %></h3>
<h3>visible: <%= @post.visible %></h3>
<% end %>

<% if current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>
